appdirs==1.4.4
atomicwrites==1.4.0
attrs==20.3.0
aws-cdk.assets==1.106.1
aws-cdk.aws-apigateway==1.106.1
aws-cdk.aws-applicationautoscaling==1.106.1
aws-cdk.aws-autoscaling==1.106.1
aws-cdk.aws-autoscaling-common==1.106.1
aws-cdk.aws-autoscaling-hooktargets==1.106.1
aws-cdk.aws-certificatemanager==1.106.1
aws-cdk.aws-cloudformation==1.106.1
aws-cdk.aws-cloudfront==1.106.1
aws-cdk.aws-cloudwatch==1.106.1
aws-cdk.aws-dynamodb==1.106.1
aws-cdk.aws-iam==1.106.1
aws-cdk.aws-lambda==1.106.1
aws-cdk.aws-logs==1.106.1
aws-cdk.aws-route53==1.106.1
aws-cdk.aws-route53-targets==1.106.1
aws-cdk.cloud-assembly-schema==1.106.1
aws-cdk.core==1.106.1
aws-cdk.custom-resources==1.106.1
aws-cdk.cx-api==1.106.1
aws-cdk.region-info==1.106.1
boto3==1.17.82
botocore==1.20.82
cattrs==1.5.0
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
colorama==0.4.4
constructs==3.3.75
cryptography==3.4.7
idna==2.10
iniconfig==1.1.1
Jinja2==3.0.1
jmespath==0.10.0
jsii==1.29.0
MarkupSafe==2.0.1
-e .
more-itertools==8.8.0
moto==2.0.8
numpy==1.20.3
packaging==20.9
pluggy==0.13.1
publication==0.0.3
py==1.10.0
pycparser==2.20
pyparsing==2.4.7
pytest==6.2.4
pytest-env==0.6.2
python-dateutil==2.8.1
pytools==2021.2.7
pytz==2021.1
requests==2.25.1
responses==0.13.3
s3transfer==0.4.2
scipy==1.6.3
six==1.16.0
TatSu==5.6.1
toml==0.10.2
typing-extensions==3.10.0.0
urllib3==1.26.5
Werkzeug==2.0.1
xmltodict==0.12.0
